<mat-card>
  <div >
    <a  [routerLink]="['/addCollection']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
      <button style="margin-left: 20px">AddCollection</button>
    </a>
  </div>
  <span>Our catalog</span>
  <mat-table [dataSource]="myCollections" >
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
      <mat-cell *matCellDef="let collection">{{collection.id}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="author">
      <mat-header-cell *matHeaderCellDef>Collection name</mat-header-cell>
      <mat-cell *matCellDef="let collection">{{collection.collectionName}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="title">
      <mat-header-cell *matHeaderCellDef>Topic</mat-header-cell>
      <mat-cell *matCellDef="let collection">{{collection.topic}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="price">
      <mat-header-cell *matHeaderCellDef>Description</mat-header-cell>
      <mat-cell *matCellDef="let collection">{{collection.description}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="button">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell  *matCellDef="let collection">
        <a [routerLink]="['collectionPage',collection.id ]"><button>More</button></a>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
    <mat-row *matRowDef="let row;columns:columns"></mat-row>
  </mat-table>
</mat-card>



